NEXT_PUBLIC_SUPABASE_URL=https://bqsqoeqmriupnlpzyevx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_tcm-vmBGKgk3k5J8ZklDOQ_QCGAhGLA
NEXT_PUBLIC_FIREBASE_API_KEY=your-firebase-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-app.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
BACKEND_URL=http://127.0.0.1:8000
